.content {
    cursor: pointer;
    padding-top: var(--mantine-spacing-sm);

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
}
