@import "mixins.scss";

.card {
  @include card;
  flex-direction: column;

  .header {
    background-color: #fafafa;
    padding: 0.5em 1.5em;
    display: flex;
    flex-direction: row;
  }

  .body {
    padding: 1.5em;
  }
}
