body {
  margin: 0;
  background-color: #f4f4f4;
}

html { font-family: 'Roboto', sans-serif; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.bold {
  font-weight: bold;
}
