name: Node CI (yarn lint && yarn test)
on: [push, pull_request] # Run on Push and Pull Requests
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.13.1]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install -g yarn@1.19.2
    - name: Install Dependencies
        run: yarn --frozen-lockfile
    - name: Lint and Test
      run: |
        yarn lint
        yarn test
